body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  width: 200px;
  border-radius: 50%;
  margin-top: 100px;
  border-style: double;
  border-color: sienna;
}

#titulo {
  color: seagreen;
  font-family: Courier, monospace;
}

#licoes_aprendidas , #licoes_a_aprender {
  color: rgb(69, 156, 11);
  font-family: Tahoma, Verdana, sans-serif;
}
